fastapi==0.104.1
uvicorn[standard]==0.24.0
python-dotenv==1.0.0
google-generativeai==0.3.1
pydantic==2.5.0
python-multipart==0.0.6
Pillow==10.1.0
groq==0.9.0
# Para ejecutar
#pip install -r requirements.txt
#py -m venv venv
#venv\Scripts\activate
#uvicorn app.main:app --reload --host 0.0.0.0 --port 8000